<section id="sites-panel">
	<%= @sites.each do |sites| %>
        <div class='sites' id="<%= sites.latitude %>,<%= sites.longitude %>">
        	<div class="pictureDiv">
                <img src="/assets/stockPhoto2.jpg"></img>
        	</div>
        	<div class="textDiv">
        	    <h id="<%= sites.latitude %>,<%= sites.longitude %>Address" class="address"><%= sites.address %></h><br>
        	    <h id="<%= sites.latitude %><%= sites.longitude %>Description" class="description"><%= sites.description %></h><br>
        	    <h id="<%= sites.latitude %>,<%= sites.longitude %>Status" class="status"><%= sites.status %></h>
        	</div>
        </div>
	<% end %>
<!-- 	<div class='list-group' id='sites'>
      <%= render @sites %>
    </div> -->
</section>

<iframe id="map-canvas" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col5+from+1AjlI_wXx_Dc6Mt53uvYTOfAHpOQlxc9nccTfX7GJ&amp;viz=MAP&amp;h=false&amp;lat=45.42559737180205&amp;lng=-75.14546064843762&amp;t=1&amp;z=9&amp;l=col5&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>


<%= javascript_tag do %>
	Map.latitude = <%= @sites.first.latitude.to_f %>;
	Map.longitude = <%= @sites.first.longitude.to_f %>;
	Map.coords = <%= raw @sites.map { |r| { latitude: r.latitude.to_f, longitude: r.longitude.to_f } }.to_json %>
<% end %>