<section id="sites-panel">
	<div class='list-group' id='sites'>
      <%= render @sites %>
    </div>
</section>

<div id="map-canvas">

</div>

<ul class="nav nav-tabs nav-justified">
  ...
</ul>

<%= javascript_tag do %>
	Map.latitude = <%= @sites.first.latitude.to_f %>;
	Map.longitude = <%= @sites.first.longitude.to_f %>;
	Map.coords = <%= raw @sites.map { |r| { latitude: r.latitude.to_f, longitude: r.longitude.to_f } }.to_json %>
<% end %>