<h1><%= @site.address %></h1>
<h3><%= @site.description %></h3>

<hr>

<% @site.comments.each do |comment| %>
	<% if !comment.new_record? %>
		<p><%= comment %></p>
		<span>by <%= comment.user.fname %></span>
	<% end %>
<% end %>

<br>
<hr>


<hr>

<div id="map-canvas">

</div>

<% if @nearby_sites.present? %>
  <h2>Nearby Sites</h2>
  <ul>
    <% @nearby_sites.each do |nr| %>
      <li><%= "#{nr.address}, #{nr.distance * 100}m" %></li>
    <% end %>
  </ul>
<% end %>

<%= javascript_tag do %>
  Map.latitude = <%= @site.latitude.to_f %>;
  Map.longitude = <%= @site.longitude.to_f %>;
  Map.showMarker = true;

  Map.coords = <%= raw @nearby_sites.map { |r| { latitude: r.latitude.to_f, longitude: r.longitude.to_f } }.to_json %>
<% end %>